@page "/Players"
@using IndexedDB.Blazor
@using MYCareerWEB.Code;
@using MYCareerWEB.Code.PlayerData
@inject IIndexedDbFactory DbFactory

@if (!NewPlayerForm)
{
    <h3>PLAYERS:</h3>
    <hr />
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 g-2">   
        @foreach (Player player in AppData.Players)
        {
            <div class="col">
                <div class="card h-100 text-center">
                    <div class="card-header h-100 d-flex align-items-center justify-content-center border-0">
                        <h5 class="card-title">@player.FirstName "@player.NickName" @player.LastName</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@Positions[player.Position] @Heights[player.Height] </p>
                        <p class="card-text">Attributes XP: @player.Attributes.XP</p>
                        <p class="card-text">Badges XP: @player.Badges.XP</p>
                        <div class="btn-group d-flex" role="group">
                            <a type="button" href="#" class="btn btn-primary" @onclick="() => SelectPlayer(player)">Select</a>
                            <button type="button" class="btn btn-primary" @onclick="() => DeletePlayer(player)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        }        
    </div>
    <div class="row">
        <div class="col gy-2">
            <button class="btn btn-secondary ripple" @onclick="ToggleNewPlayerForm">New Player</button>        
        </div>
    </div> 
}


@if (NewPlayerForm)
{
    <h3>PLAYERS:</h3>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="floatingFirstName" placeholder=" " @bind="FirstName">
                <label style="color: #d7d7d7" for="floatingFirstName">First Name</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="floatingNickName" placeholder=" " @bind="NickName">
                <label style="color: #d7d7d7" for="floatingNickName">Nickname</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="floatingLastName" placeholder=" " @bind="LastName">
                <label style="color: #d7d7d7" for="floatingLastName">Last Name</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="mb-2">
                <select class="form-select" @bind="Position">
                    <option value="0" selected>Position</option>
                    <option value="1">Point Guard</option>
                    <option value="2">Shooting Guard</option>
                    <option value="3">Small Forward</option>
                    <option value="4">Power Forward</option>
                    <option value="5">Center</option>
                </select>
            </div>
            @if (Position == 1) // PG
            {
                <div class="mb-2">
                    <select class="form-select" @bind="Height">
                        <option value="0" selected>Height</option>
                        @for (int i = 1; i <= 13; i++)
                        {
                            <option value="@i">@Heights[i]</option>
                        }
                    </select>
                </div>
            }
            @if (Position == 2) // SG
            {
                <div class="mb-2">
                    <select class="form-select" @bind="Height">
                        <option value="0" selected>Height</option>
                        @for (int i = 5; i <= 14; i++)
                        {
                            <option value="@i">@Heights[i]</option>
                        }
                    </select>
                </div>
            }
            @if (Position == 3) // SF
            {
                <div class="mb-2">
                    <select class="form-select" @bind="Height">
                        <option value="0" selected>Height</option>
                        @for (int i = 10; i <= 15; i++)
                        {
                            <option value="@i">@Heights[i]</option>
                        }
                    </select>
                </div>
            }
            @if (Position == 4) // PF
            {
                <div class="mb-2">
                    <select class="form-select" @bind="Height">
                        <option value="0" selected>Height</option>
                        @for (int i = 12; i <= 17; i++)
                        {
                            <option value="@i">@Heights[i]</option>
                        }
                    </select>
                </div>
            }
            @if (Position == 5) // C
            {
                <div class="mb-2">
                    <select class="form-select" @bind="Height">
                        <option value="0" selected>Height</option>
                        @for (int i = 14; i <= 20; i++)
                        {
                            <option value="@i">@Heights[i]</option>
                        }
                    </select>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="btn-group mb-3">
            <button class="btn btn-secondary ripple" @onclick="CreatePlayer">Create</button>
            <button class="btn btn-secondary ripple" @onclick="ToggleNewPlayerForm">Cancel</button>
        </div>
    </div>
}


@code {
    private bool NewPlayerForm = false;

    private string FirstName = string.Empty;
    private string NickName = string.Empty;
    private string LastName = string.Empty;
    private int Position = 0;
    private int Height = 0;

    private string[] Positions = { "Position", "Point Guard", "Shooting Guard", "Small Forward", "Power Forward", "Center" };
    private string[] Heights = { "Height", "5'7\"", "5'8\"", "5'9\"", "5'10\"", "5'11\"", "6'0\"", "6'1\"", "6'2\"", "6'3\"", "6'4\"", "6'5\"",
    "6'6\"", "6'7\"", "6'8\"", "6'9\"", "6'10\"", "6'11\"", "7'0\"", "7'1\"", "7'2\"", "7'3\"" };

    protected override async Task OnInitializedAsync()
    {
        using (var db = await this.DbFactory.Create<AppDB>())
        {
            AppData.Players = db.Player.ToList();
            await db.SaveChanges();
        }
    }

    private async Task CreatePlayer()
    {
        if(FirstName != string.Empty && NickName != string.Empty && LastName != string.Empty && Position != 0 && Height != 0)
        {

            using (var db = await DbFactory.Create<AppDB>())
            {
                db.Player.Add(AppData.CreatePlayer(FirstName, NickName, LastName, Position, Height));
                await db.SaveChanges();
            }
            using (var db = await DbFactory.Create<AppDB>())
            {
                AppData.AddPlayer(db.Player.Last());
                ToggleNewPlayerForm();
            }
        }
        else
        {

        }
    }

    private async Task DeletePlayer(Player player)
    {
        using (var db = await DbFactory.Create<AppDB>())
        {
            bool removed = db.Player.Remove(player);
            if (removed)
            {
                if (AppData.CurrentPlayer != null && player.Id == AppData.CurrentPlayer.Id)
                {
                    AppData.CurrentPlayer = null;
                }
                AppData.RemovePlayer(player);
            }
            await db.SaveChanges();      
        }

    }

    private async Task SelectPlayer(Player player)
    {
        AppData.CurrentPlayer = player;
        AppData.RefreshService.CallRequestRefresh();
    }

    private void ToggleNewPlayerForm()
    {
        NewPlayerForm = !NewPlayerForm;
    }
}
